
@{
}

<div>
    <h4>Predict mummy head direction</h4>
    <form method="post">
        <div>
            <label>Male:</label>
        </div>
    </form>
</div>

@*sexMale
sexFemale
hairColor_Y
samplesCollected
ageAtDeathIn
wrapping_S
ageAtDeath_C*@